* {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: white;
}

section {
    padding: 50px;
}

#home {
    background-color: #f0f0f0;
    text-align: center;
}

.Imgpro {
    width: 20%;
}

.portfolio-item {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
